.mainContainer{
    margin-left: 20px;
    margin-top: 25px;
    max-width: 1140px !important;
}

.colapseButton{
    border: 1px solid black;
    border-radius: .25rem;
    color: black;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
}